@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root{
    --background: #0d1117;
    --text: rgb(212, 212, 212);
    --text-gray: rgb(157, 159, 170);
}

/* BASE */

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--background);
}

a {
    text-decoration: none;
}

/* NAVBAR */

nav {
    height: 100px;
    display: inline-flex;
    width: 100%;
}

nav .title {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .title h1 {
    color: var(--text);
}

nav .title h1 .cursor {
    font-weight: 300;
    animation: 1s infinite appariton;
}

nav .buttons {
    display: inline-flex;
    width: 50%;
    height: 100%;
    align-items: center;
    text-align: left;
}

nav .buttons .btn {
    color: var(--text-gray);
    font-size: 20px;
    padding-left: 20px;
    transition: 0.3s;
}

nav .buttons .btn:hover {
    transition: 0.3s;
    color: var(--text);
}

nav .buttons .box {
    display: flex;
    margin-left: 8px;
    background-color: rgba(222, 226, 255, 0.247);
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    color: rgb(202, 206, 221);
}

nav .buttons .box .bx-xs {
    font-size: 20px !important;
    font-weight: 400 !important;
}

header {
    overflow: hidden;
}

.hero {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    height: auto;
    margin-top: 0px;
}

.hero h1 {
    margin-top: 150px;
    font-size: 60px;
    color: var(--text);
}

.hero h1 span {
    color: royalblue;
}

.main {
    display: inline-block;
    animation-name: hello;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%; 
}

.hero p {
    color: var(--text-gray);
    padding-top: 50px;
    font-size: 18px;
}

.hero p span {
    background-color: rgba(222, 226, 255, 0.247);
    padding: 8px;
    border-radius: 10px;
}

.hero .btn {
    padding-top: 150px;
}

.hero .btn .bx {
    padding: 15px !important;
    background-color: royalblue !important;
    border-radius: 100% !important;
    font-weight: 300 !important;
    color: rgb(182, 186, 199);
}

.hero .btn .bx-fade-down {
    animation-iteration-count: 2 !important;
}

/* CERCLES */

.hero .cercle1 {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background: rgb(65, 116, 225);
    filter: blur(200px);
    top: 30%;
    right: 0%;
    transition: 0.3s;
    animation: 7s infinite mouvement;
}


.hero .cercle2 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: rgb(65, 116, 225);
    filter: blur(150px);
    top: 15%;
    left: 10%;
    transition: 0.3s;
    animation: 10s infinite mouvement2;
}

/* ABOUT */

.about {
    display: none;
    height: auto;
    width: 100%;
    position: relative;
    opacity: 0;
}

.about .gauche {
    margin-top: 70px;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.about .gauche h1 {
    color: var(--text);
    font-size: 70px;
    padding-left: 100px;
    padding-top: 130px;
}

.about .gauche h1 span {
    color: royalblue;
}

.about .gauche a {
    color: var(--text);
    font-size: 20px;
    padding: 12px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: royalblue;
}

.about .droite {
    margin-top: 70px;
    width: 70%;
    height: 100%;
    display: block;
    overflow: scroll;
}

.about .droite .carousel {
    width: auto;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.about .droite .carousel .card {
    display: block;
    height: 600px;
    width: 450px;
    border-radius: 40px;
    margin: 25px;
    margin-right: 5px;

    box-shadow: 0 1px 5px #50536599;

    background-size: cover;

    position: relative;
    
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;

    transform: rotate3d(0);
}

#card1 {
    background-image: url(../img/card.png);
}

#card2 {
    background-image: url(../img/ia.webp);
}

#card3 {
    background-image: url(../img/server.png);
}


.about .droite .carousel .card:hover {
  transition-duration: 150ms;
  box-shadow: 10px 5px 30px #27293299;
  cursor: pointer;
}

.about .droite .carousel .card .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: radial-gradient(circle at 50% -20%, #ffffff35, #0000000f);
    border-radius: 40px;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #171c24;
    border-radius: 80px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #202731;
}

/* ANNIMATIONS */

@keyframes fade-up {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: -200px;
        display: none;
    }
}

@keyframes fade-down {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: -200px;
        display: none;
    }
}

@keyframes hello {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

@keyframes appariton {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    
    65% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes mouvement {
    0% {
        margin-top: 0px;
    }

    
    10% {
        margin-top: 10px;
    }

    25% {
        margin-left: 200px;
        margin-top: 50px;
    }

    
    65% {
        margin-right: 100px;
        margin-top: -20px;
    }

    100% {
        margin-right: 0px;
        margin-top: 0px;
    }
}

@keyframes mouvement2 {
    0% {
        margin-top: 0px;
    }

    25% {
        margin-top: -30px;
    }

    
    65% {
        margin-left: -80px;
        margin-top: 20px;
    }

    100% {
        margin-right: 0px;
        margin-top: 0px;
    }
}

/**.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(55, 88, 196, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}
.cta span {
    position: relative;
    font-size: 20px;
    line-height: 18px;
    vertical-align: middle;
    color: rgb(212, 212, 212);
}
.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover:before {
    width: 100%;
    background: rgb(55, 88, 196);
}
.cta:hover svg {
    transform: translateX(0);
}
.cta:active {
    transform: scale(0.96);
}

**/